.button,
.active {
  border: solid 1px black;
  background-color: #343434;
  color: white;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.active {
  background-color: #fff;
  border: solid 1px #343434;
  color: #e36208;
}
