.link {
  color: #000;
  text-decoration: none;
}

.articleCont {
  width: 58vw;
  height: 260px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 3px 0px #b8b8b8;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #fff;

  h1 {
    font-size: 33px;
    line-height: 50px;
    font-weight: normal;
    color: #303030;
    font-family: "Source Sans Pro";
  }

  h3 {
    color: #303030;
    font-weight: 400;
  }

  .date {
    color: #2196f3;
  }

  img {
    border: solid 1px #e3e3e3;
    border-radius: 10px;
    margin-right: 40px;
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 1100px) {
  .articleCont {
    height: 300px;
  }
}

@media (max-width: 968px) {
  .articleCont {
    height: 250px;
    box-shadow: 0px 0px 0px 0px;
    border-left: solid 4px #2196f3;
    border-radius: 0;
    margin-bottom: 40px;

    h1 {
      font-size: 30px;
      line-height: 40px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

@media (max-width: 820px) {
  .articleCont {
    height: 250px;

    h1 {
      font-size: 27px;
      line-height: 1.2;
    }

    h3 {
      font-size: 17px;
    }
  }
}

@media (max-width: 500px) {
  .articleCont {
    height: 310px;

    h1 {
      font-size: 26px;
      line-height: 1.2;
    }

    h3 {
      font-size: 16px;
    }
  }
}

@media (max-width: 380px) {
  .articleCont {
    height: 310px;
    border-left: solid 3px #2196f3;

    h1 {
      font-size: 20px;
      line-height: 1.2;
    }

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 15px;
    }
  }
}
