.articleBuilderCont {
  display: flex;
  justify-content: space-between;
  min-height: 272px;
}

.editorContWithToolbar {
  margin-top: 20px;
  border: solid 1px lightgray;
  width: 50vw;
}

.editorCont {
  padding: 10px;
}

.collapseSidebarIcons {
  height: 40px;
  margin: 20px;

  img {
    height: 20px;
    margin: 10px;
    filter: grayscale(100%);
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .editorContWithToolbar {
    min-width: 500px;
    width: 500px;
    overflow: scroll;
  }
}
