.title,
.header {
  color: #23282e;
  font-size: 40px;
  line-height: 50px;
  font-weight: normal;
  font-family: "Source Sans Pro";
}

.header {
  font-size: 30px;
  margin: 10px 0px;
  color: #23282e;
}

.date,
.paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #333333;
}

.date {
  color: #2196f3;
}

.code {
  background-color: #f7f7f7;
  width: calc(100% - 20px);
  font-size: 18px;
  padding: 10px;
  overflow: auto;
}

iframe {
  width: 110% !important;
  left: -40px !important;
  border: 0 !important;
  height: 100% !important;
  position: absolute !important;
}

@media (max-width: 700px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .header {
    font-size: 25px;
    line-height: 35px;
  }

  .title,
  .header {
    color: #000;
  }

  .date,
  .paragraph {
    font-size: 18px;
  }

  iframe {
    width: 120% !important;
  }
}

@media (max-width: 400px) {
  iframe {
    width: 130% !important;
  }
}
