.navCont {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: calc(100vw);
  background-color: #000;
}

.linksCont {
  display: flex;
  align-items: center;
  width: calc(48vw + 30px);
  margin: auto;
  height: 60px;
}

.link,
.editorlink {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding-right: 10px;
  font-weight: normal;
}

.editorlink {
  padding-right: 20px;
}

.searchBar {
  position: absolute;
  right: 0;
  top: 18px;

  img {
    cursor: pointer;
    padding-right: 5vw;
  }
}

@media (max-width: 980px) {
  .linksCont {
    width: 70vw;
  }
}

@media (max-width: 565px) {
  .linksCont {
    width: 100vw;
    padding-left: 10px;
  }

  .link {
    font-size: 18px;
  }
}
