.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;

  div {
    font-size: 30px;
    color: #fff;
  }
}

.title,
.switchWord {
  padding-left: 10px;
  // color: #e36208;
  color: #2196f3;
  text-align: center;
  margin-bottom: 12px;
  padding-right: 6px;
  font-weight: normal;
}

.title {
  font-size: 18px;
  animation: word-in 0.3s linear;
}

.switchWord {
  font-size: 18px;
  animation: word-out 0.3s linear;
}

@keyframes word-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes word-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
